.Image {
    margin: 0 auto;
    width: 600px;
    height: 500px;
}

img.img-elem {
    background-size: auto;
    height: 100%;
    width: 100%;
}

.author-visible {
    display: inline-block;
    background-color: #80808094;
    position: absolute;
    width: 600px;
    height: 50px;
    right: calc(50% - 300px);
    margin-top: 450px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


.author-invisible{
    display: none;
}